body {
  font-family: "Poppins", sans-serif;
  background-color: #2b4f81;
  color: white;
  margin: 2rem;
}

.redInput {
  color: #e63946;
  margin: 2rem 0;
}

.inputField {
  background: transparent;
  border: none;
  border-bottom: 2px solid #e63946;
  width: 90%;
  color: white;
  outline: 0;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.inputField ::-moz-placeholder {
  text-align: left;
}
.inputField ::placeholder {
  text-align: left;
}

.inputModifier {
  background: transparent;
  border: none;
  border-bottom: 2px solid #e63946;
  width: 40%;
  color: white;
  outline: 0;
  font-size: 1.1rem;
}

.returnHome {
  margin-bottom: 2rem;
}

.btn-modifier {
  margin-bottom: 9rem;
  width: 40%;
  background-color: #e63946;
  border: none;
  border-radius: 0.5rem;
  margin-top: 3rem;
  margin-left: 1rem;
  color: white;
  font-weight: 600;
  padding: 0.7rem 0.4rem;
  cursor: pointer;
}
.btn-modifier ~ a,
.btn-modifier a:link,
.btn-modifier a:visited,
.btn-modifier a:hover,
.btn-modifier a:active {
  color: #eee;
  text-decoration: none;
}

.labelSignup {
  font-size: 0.9rem;
}

.selectField {
  border: 1px solid #eee;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  background-color: #2b4f81;
  color: white;
  text-align: center;
}

.labelSignin {
  margin: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
}

.btn-signup {
  width: 90%;
  background-color: #e63946;
  border: none;
  border-radius: 0.5rem;
  margin-top: 2rem;
  color: white;
  font-weight: 600;
  padding: 0.5rem 0;
  cursor: pointer;
}

.btn-return:link, .btn-return:visited, .btn-return:hover, .btn-return:active {
  color: white;
  text-decoration: none;
}

.requis {
  padding-top: 2rem;
}

.cguRedirection {
  font-size: 12px;
  margin-left: 2.3rem;
}
.cguRedirection ~ a,
.cguRedirection a:link,
.cguRedirection a:visited,
.cguRedirection a:hover,
.cguRedirection a:active {
  color: #e63946;
  text-decoration: none;
}

.cguCheckbox {
  position: relative;
  top: 27px;
}

input[type=checkbox] {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  accent-color: #e63946;
  cursor: pointer;
}

label {
  font-weight: 700;
}

.spanDirection,
.spanDirectionSignup {
  position: relative;
  top: 6rem;
  padding-bottom: 7rem;
  font-size: 1rem;
}
.spanDirection ~ a,
.spanDirection a:link,
.spanDirection a:visited,
.spanDirection a:hover,
.spanDirection a:active,
.spanDirectionSignup ~ a,
.spanDirectionSignup a:link,
.spanDirectionSignup a:visited,
.spanDirectionSignup a:hover,
.spanDirectionSignup a:active {
  color: #e63946;
  text-decoration: none;
}

.fa-arrow-left {
  float: right;
}

.divNavigation {
  position: fixed;
  bottom: 0;
  height: 13vh;
  border-radius: 0.3rem;
  width: 100%;
  margin: -31px;
  padding: 0;
  background-color: #e63946;
  display: flex;
  justify-content: space-between;
}

.btn-nav {
  display: flex;
  gap: 35px;
  margin-left: 2rem;
}

.btnNavigation {
  width: 100%;
  background-color: #e63946;
  margin-top: 1rem;
  color: white;
  padding: 0.5rem 0;
  border: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.btnNavigation i {
  margin-bottom: 5px;
}

.no-underline {
  text-decoration: none;
}

#popupConfirm {
  display: none;
}

table {
  position: relative;
  width: 20px;
  font-size: 0.9rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: -1.2rem;
}

th {
  padding: 22px 8px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}

thead {
  background-color: rgba(43, 79, 129, 0.9);
}

tr {
  background-color: rgba(43, 79, 129, 0.5);
}

td {
  padding: 22px 8px;
  text-align: center;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
}

.popup-confirm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 20px;
}

#deleteText {
  border: 1px solid #eee;
  padding: 22px 22px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0.5rem;
  margin-left: -1.2rem;
  background-color: #e63946;
}

.btnYes {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-50%);
  width: 20%;
  background-color: #e63946;
  border: none;
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-left: 0.5rem;
  color: white;
  font-weight: 600;
  padding: 0.7rem 0.4rem;
}

.btnNo {
  position: relative;
  top: -28px;
  left: 20%;
  width: 20%;
  background-color: rgb(43, 79, 129);
  border: none;
  border-radius: 0.5rem;
  margin-top: -1rem;
  margin-left: 1rem;
  color: white;
  font-weight: 600;
  padding: 0.7rem 0.4rem;
}

.btn-secondary {
  width: 40%;
  background-color: rgba(43, 79, 129, 0.2);
  border: 0.5px solid #eee;
  border-radius: 0.5rem;
  margin: 3rem 0 9rem 1rem;
  color: white;
  font-weight: 600;
  padding: 0.7rem 0.4rem;
  cursor: pointer;
}
.btn-secondary ~ a,
.btn-secondary a:link,
.btn-secondary a:visited,
.btn-secondary a:hover,
.btn-secondary a:active {
  color: #eee;
  text-decoration: none;
}

.trashbin {
  background-color: rgba(43, 79, 129, 0.2);
  color: #eee;
  border: none;
}

.divModifier {
  display: none;
}

.divHome {
  position: absolute;
  bottom: 75%;
  left: 40%;
  width: 70px;
  border-radius: 50%;
}

.btnRounded {
  border-radius: 60%;
}

.divHistorique {
  height: 100rem;
}

.imgProfile {
  width: 10%;
  height: 10%;
}

.textarea {
  background-color: #2b4f81;
  color: white;
  border: 2px solid #eee;
  border-radius: 0.5rem;
  font-size: 1rem;
}/*# sourceMappingURL=style.css.map */